[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
certifi = "==2019.3.9"
pipenv = "==2018.11.26"
pygraphviz = "==1.5"
pytz = "==2018.9"
virtualenv = "==16.4.3"
virtualenv-clone = "==0.5.1"
ERAlchemy = "==1.2.10"
SQLAlchemy = "==1.3.1"
astroid = "==2.2.5"
autopep8 = "==1.4.3"
isort = "==4.3.15"
lazy-object-proxy = "==1.3.1"
mccabe = "==0.6.1"
py-gfm = "==0.1.4"
pycodestyle = "==2.5.0"
pylint = "==2.3.1"
six = "==1.12.0"
typed-ast = "==1.3.1"
wrapt = "==1.11.1"
Markdown = "==2.6.11"
Pygments = "==2.3.1"

[requires]
python_version = "3.7"
